#main-nav {
  background-color: #363636; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; 
  padding: 10px 0px;
  z-index: 1000;
}

#main-nav ul {
  background-color: #363636; 
  list-style-type: none; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding: 0px;
  margin: 0 auto;
}

#main-nav ul li{
  margin: 0px 15px;
}

#main-nav ul li a {
  display: block; 
  color: white; 
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
}

#main-nav ul li a:hover {
  background-color: #D3D3D3;
  color: red;
  border-radius: 5px;
}

body {
  font-family: 'Oswald', 'Arial';
  color: black;
  text-align: center;
}

#content-wrapper {
  width: 960px;
  margin: 80px auto 0 auto; 
  border-radius: 2px; 
}

#background h3 {
  color: red;
  margin-bottom: 10px;
  font-size: 24px;
}

#Favorite-Things h3 {
  color: red;
  margin-bottom: 10px;
  font-size: 24px;
}

#marvel-rivals {
  width: 100%; 
  max-width: 400px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.5);
}

#marvel-rivals:hover {
  content: url('../images/loki.png');
}

iframe {
  width: 100%; 
  max-width: 560px; 
  height: 315px; 
  margin-top: 20px; 
  border: 3px solid red; 
  border-radius: 10px; 
}

p {
  font-size: 18px;
  margin: 10px 0px;
}
#resume {
  max-width: 800px;
  margin: 100px auto 20px;
  padding: 20px;
  color: black;
  text-align: left;
  font-family: 'oswald', 'Arial';
  border-radius: 5px;
}

#resume h1 {
  text-align: center;
  font-size: 28px;
  color: #222;
}

#resume h2 {
  font-size: 22px;
  padding-bottom: 5px;
  margin-top: 20px;
  border-bottom: 2px solid black;
}

#relevant-experience h3{
  font-size: 18px;
  color: #222;
  margin-top: 15px;
}

#relevant-experience p {
  font-size: 16px;
  margin: 5px 0px;
}

#resume ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

#resume ul li {
  margin-bottom: 5px;
}

#horror-movies {
  background-color: #A9A9A9;
  text-align: center;
  margin-top: 20px;
}

.movie-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.movie {
  max-width: 250px;
  text-align: center;
}

.movie img {
  width: 100%;
}

.movie p {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#toTop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #D3D3D3;
  color: white;
  border: none;
  padding: 15px;
  z-index: 999;
  font-size: 14px;
}

#toTop:hover {
  background-color: #555;
}

#toggleColor {
  position: fixed;
  top: 70px;
  right: 0px;
  background-color: #D3D3D3;
  color: white;
  border: none;
  padding: 15px;
  z-index: 1001;
  font-size: 14px;
}

#toggleColor:hover {
  background-color: #555;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode a {
  color: #ffcccb;
}

.dark-mode #main-nav {
  background-color: #222;
}

.dark-mode #toggleColor {
  background-color: #f0f0f0;
  color: #121212;
}

.dark-mode #content-wrapper {
  color: #D3D3D3;
}

.dark-mode #resume h1 {
  color: #D3D3D3;
}

.dark-mode #resume h2 {
  color: #D3D3D3;
}

.dark-mode #resume h3 {
  color: #D3D3D3;
}

.dark-mode #resume p {
  color: #D3D3D3;
}

.dark-mode #resume li {
  color: #D3D3D3;
}
